@model IEnumerable<NewTrashCollector.Models.Customer>
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <th>
                @Html.DisplayFor(model => item.State)
            </th>
            <th>
                @Html.DisplayFor(model => item.ZipCode)
            </th>
            <td>
                @Html.ActionLink("Confirm", "Confirm", new { id = item.Id })
            </td>
        </tr>
    }
</table>
